/*!
@author: Oscar Alderete <wordpress@oscaralderete.com>
@website: https://wpe.oscaralderete.com
*/
@import '_components/_vars';

// mixin definition
@mixin common {
	opacity: 1;
	visibility: visible;
}

// root
:root {
	--oa-toast-default-bg-color: #{$toast-bg-color-default};
	--oa-toast-font-family: #{$font-family};
	--oa-toast-font-color: #{$toast-font-color};
	--oa-toast-z-index: #{$zIndex-toast};

	@each $i in $toast-types {
		/* will render e.g.:
		--oa-toast-success-bg-color: green;
		*/
		--oa-toast-#{nth($i, 1)}-bg-color: #{nth($i, 2)};
	}
}


oa-toast {
	position: fixed;
	display: flex;
	left: 50%;
	bottom: 0; // default position: bottom
	top: auto;
	justify-content: center;
	width: auto !important;
	background-color: transparent;
	transform: translateX(-50%);
	opacity: 0;
	visibility: hidden;
	z-index: var(--oa-toast-z-index);
	transition: all 0.25s;

	>section {
		font-family: var(--oa-toast-font-family);
		background-color: var(--oa-toast-default-bg-color);
		color: var(--oa-toast-font-color);
		align-self: center;
		box-sizing: border-box;
		padding: $toast-section-padding;
		box-shadow: 0 0 0.4em #222;
		border-radius: 0.4em;
		cursor: pointer;
		text-align: center;

		/* will render e.g.:
		&.success {
			background-color: #2dcc70;
		}
		*/
		@each $i in $toast-types {
			&.#{nth($i, 1)} {
				background-color: var(--oa-toast-#{nth($i, 1)}-bg-color);
			}
		}
	}

	&.active {
		bottom: $toast-displacement;
		top: auto;
		@include common;
	}

	&.top {
		top: 0;
		bottom: auto
	}

	&.top.active {
		bottom: auto;
		top: $toast-displacement;
		@include common;
	}
}